.account {
    @extend .container-fluid;
    padding-bottom: 5rem;
    &-content {
        background-color: $gray-100;
    }
    &-header {
        background-image: linear-gradient(180deg, $white 40%, $gray-100 100%);
        padding: 6rem 0 1rem;
        margin-bottom: 2rem;
        @include media-breakpoint-up(lg) {
            padding-top: 4rem;
        }
        &-container {
            @extend .container-fluid;
        }
    }
    &-profile,
    &-subscription,
    &-sponsor,
    &-plans,
    &-payment-methods,
    &-invoices {
        @extend .card;
        @extend .shadow;
        border: none;
        font-size: 1.125rem;
        min-width: 40%;
        border-radius: 2 * $border-radius-lg;
        margin-bottom: 2rem;
        &-header {
            @extend .card-header;
            background-color: $orange;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 2 * $border-radius-lg !important;
            border-top-right-radius: 2 * $border-radius-lg !important;
        }
        &-title {
            color: $white;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
        }
        &-body {
            @extend .card-body;
            flex-grow: 1;
            p:last-child {
                margin-bottom: 0;
            }
            &-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-table {
            background-color: $white;
            th {
                border-top: none;
            }
        }
        &-list {
            @extend .list-unstyled;
            margin-bottom: 0;
        }
        &-item {
            &-label {
                text-transform: uppercase;
                color: $gray-500;
                font-size: 0.875rem;
                font-weight: bold;
                line-height: 0.875;
            }
            &-value {
                margin-bottom: 0;
                font-size: 1rem;
            }
        }
        &-notice {
            color: $gray-500;
            margin-bottom: 0;
        }
        &-footer {
            @extend .card-footer;
            background-color: lighten($orange, 25%);
            border: none;
            display: flex;
            justify-content: flex-end;
            border-bottom-left-radius: 2 * $border-radius-lg !important;
            border-bottom-right-radius: 2 * $border-radius-lg !important;
            &-button {
                @extend .btn;
                @extend .btn-sm;
                @extend .btn-link;
                color: darken($orange, 15%);
                padding: 0;
                font-size: 0.875rem;
                text-transform: uppercase;
                &:hover,
                &:focus {
                    text-decoration: none;
                    color: darken($orange, 30%);
                }
            }
        }
    }
}
