.plan-list {
    &-container {
        @extend .container-fluid;
        max-width: 1200px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    &-list {
        @include make-row;
        justify-content: center;
    }
    &-item {
        @include make-col-ready();
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(xl) {
            @include make-col(3);
        }
        margin-bottom: 2rem;
        &-card {
            @extend .card;
            @extend .shadow;
            text-align: center;
            height: 100%;
        }
        &-header {
            @extend .card-header;
        }
        &-title {
            font-size: 1.25rem;
            color: $body-color;
            font-weight: bold;
            margin: 0;
        }
        &-body {
            @extend .card-body;
            display: flex;
            flex-direction: column;
        }
        &-price {
            font-size: 2.375rem;
            color: $secondary;
            font-weight: bold;
        }
        &-duration {
            font-size: 1.75rem;
            color: $gray-500;
        }
        &-description {
            font-size: 1.125rem;
            line-height: 1.5;
            margin-bottom: 2rem;
            flex-grow: 1;
        }
        &-button {
            @extend .btn;
            @extend .btn-lg;
            @extend .btn-block;
            @extend .btn-primary;
        }
    }
}
